
body{
    margin:0px;
    padding: 0px ;
}
.kutu{
    width: 100px;
    height: 100px;
}
.kutu1{
    background-color: blueviolet;
   
}
.kutu2{
    background-color: rgb(125, 226, 43);
    flex: 2;
   
}
.kutu3{
    background-color: rgb(226, 70, 43);
    flex: 2;
   
}
.kutu4{
    background-color: rgb(83, 43, 226);
    
}
.contanier{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

